body { 
  font: 8pt verdana;
  font-family: Arial, sans-serif;
}
h1 { 
   font: 8pt verdana;
  font-family: Arial, sans-serif;
}
.container {
  width: 500px; 
  left: 0;
  right: 0;
  margin: auto; 
  padding: 20px; 
  background-color: #f2f2f2;
}


